@{
    ViewData["Title"] = "Donuts";
}

@model HomeViewModel

<div class="left-side xlong-background"></div>
<div class="right-side xlong-background"></div>
<div class="actual-content">
    <div class="top-of-page">
        <div class="logo-container">
            <i class="fa-solid fa-circle-dot donut-logo"></i>
            <div class="hoodoo-title">Hoodoo Fresh Donuts</div>
        </div>
        <div class="icon-container">
            <i class="fa-brands fa-instagram-square social-icon"></i>
            <i class="fa-brands fa-twitter-square social-icon"></i>
            <i class="fa-brands fa-facebook-square social-icon"></i>
            <i class="fa-brands fa-reddit-square social-icon"></i>
            <i class="fa-brands fa-linkedin social-icon"></i>
            <i class="fa-brands fa-kickstarter social-icon"></i>
        </div>
    </div>
    <div class="back-container">
        <i class="fa-solid fa-chevron-left left-chevron"></i>
        <a class="back-button" asp-action="Index">
            BACK
        </a>
    </div>
    
    <div class="donut-cards-container">
        @if (Model.Donuts.Count() > 0)
        {
            @foreach (var donut in Model.Donuts)
            {
                <div class="donut-card">
                    @if (donut.Photo != null)
                    {
                        <img src="@donut.Photo" width="180" style="border-radius:999px;" />
                    }
                    else
                    {
                        <div style="height:180px; width:180px; background-color:#FFE6E8; border-radius:999px;"></div>
                    }
                    <div class="donut-name">
                        @donut.Name
                    </div>
                    <div class="donut-price">
                        $@donut.Price
                    </div>
                </div>
            }
        }
        else
        {
            <div class="no-donuts-message">Sorry, guess we aren't selling any donuts at this time!</div>
        }
    </div>
    <div class="type-buttons-container">
        <a class="type-button" asp-action="Donuts" asp-route-type="@null"
           style="background-color: @(Model.Type == null ? "#CC2200" : "")">
            All
        </a>
        <a class="type-button" asp-action="Donuts" asp-route-type="Glazed"
           style="background-color: @(Model.Type == "Glazed" ? "#CC2200" : "")">
            Glazed
        </a>
        <a class="type-button" asp-action="Donuts" asp-route-type="Filled"
           style="background-color: @(Model.Type == "Filled" ? "#CC2200" : "")">
            Filled
        </a>
        <a class="type-button" asp-action="Donuts" asp-route-type="Chocolate"
           style="background-color: @(Model.Type == "Chocolate" ? "#CC2200" : "")">
            Chocolate
        </a>
    </div>
</div>